<style>

#img1 {
  margin-top: -45px;
  margin-left: 67px;
}
 #header1 {
  padding: 10px 20px;
  margin-left: 12px;
  font-size: 35px;
  font-family: sans-serif;
  color: lightseagreen;
}
#header2 {
  font-size: 24px;
  font-family: sans-serif;
  margin-left: 55px;
  color: lightseagreen;
}
#header3 {
  font-size: 30px;
  font-family: sans-serif;
  position: absolute;
  margin-left: 530px;
  margin-top: 35px;
  border-style: outset;
  padding: 8px;
  color: lightseagreen;
}
#title2 {
  font-size: 20px;
  position: absolute;
  margin-left: 301px;
  margin-top: 67px;
}
#title3 {
  font-size: 20px;
  position: absolute;
  margin-left: 35px;
  margin-top: 150px;
}
#button1 {
  width: 75px;
  height: 25px;
  border-radius: 5px;
  font-size: 14px;
  position: absolute;
  margin-left: 940px;
}
#button2 {
  width: 75px;
  height: 25px;
  border-radius: 5px;
  font-size: 14px;
  position: absolute;
  margin-left: 1050px;
}
#button3 {
  width: 75px;
  height: 25px;
  border-radius: 5px;
  font-size: 14px;
  position: absolute;
  margin-left: 1160px;
  }
  #button4 {
    position: absolute;
    margin-left: 590px;
    margin-top: 508px;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    font-size: 18px;
  }
#main {
posiion: absolute;
margin-left: 320px;
font-size: 14px;
}
input[type=search] {
  width: 120px;
  height: 25px;
  border-radius: 5px;
  font-size: 14px;
  position: absolute;
  margin-left: -430px;
  margin-top: 10px;
}
input[type=submit] {
  width: 75px;
  height: 25px;
  border-radius: 5px;
  font-size: 14px;
  background-color: transparent;
  position: absolute;
  margin-left: -300px;
  margin-top: 10px;
}
#search-button {
  position: absolute;
  margin-left: 1035px;
  margin-top: 50px;
}
#map-canvas {
width: 650px;
height: 450px;
position: absolute;
margin-top: 90px;
margin-left: 600px;
}
.signUp {
  font-size: 20px;
  padding: 5px;
}
#input1, #input2, #input3, #input4, #input5, #input6 {
  padding: 3px;
  border-radius: 10px;
}
#submit {
  font-size: 12px;
  border-radius: 5px;
  margin-left: 310px;
}
#profile {
  list-style-type: none;
  margin-top: 230px;
  margin-left: 105px;
  position: absolute;
  font-size: 18px;
  border-style: inset;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 22px;
  padding-top: 10px;
  border-radius: 10px;
}
.info {
  padding: 3px;
  border-radius: 10px;
  width: 150px;
  padding: 5px;
}
#save {
  position: absolute;
  margin-left: 120px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 12px;
}
#bud1 {
  position: absolute;
  margin-left: 1025px;
  margin-top: 301px;
  border-radius: 3px;
  font-size: 14px;
}
#bud2 {
  position: absolute;
  margin-left: 1228px;
  margin-top: 301px;
  border-radius: 3px;
  font-size: 14px;
}
#bud3 {
  position: absolute;
  margin-left: 1033px;
  margin-top: 493px;
  border-radius: 3px;
  font-size: 14px;
}
#bud4 {
  position: absolute;
  margin-left: 1228px;
  margin-top: 493px;
  border-radius: 3px;
  font-size: 14px;
}
#friends {
  position: absolute;
  margin-left: 1053px;
  margin-top: 130px;
  font-size: 20px;
  border-style: inset;
  padding: 5px;
  border-radius: 3px;
}
#view-buddy {
  position: absolute;
  margin-left: 67px;
  margin-top: 322px;
  border-radius: 5px;
  font-size: 12px;
}
#tips {
  position: absolute;
  margin-left: 43px;
  margin-top: 378px;
  font-size: 14px;
  border-style: inset;
  padding: 3px;
  border-radius: 3px;
}
#stats {
  list-style-type: none;
  font-size: 40px;
  color: navy;
  font-family: monospace;
  position: absolute;
  margin-top: 145px;
  margin-left: 250px;
  border-radius: 5px;
  padding: 5px;
}
#header4 {
  font-size: 32px;
  font-family: monospace;
  font-style: oblique;
  color: white;
  position: absolute;
  margin-left: 320px;
  filter: invert(90%);
}
#body3 {
  background-image: url('http://netdna.webdesignerdepot.com/uploads/2014/05/featured@wdd2x.jpg');
}


</style>
